<a href="https://colab.research.google.com/github/mdcodigo/coder_ds/blob/main/Desafio_Wragling_MaxiDuva.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Leo los dataset p, w y los fusiono

In [28]:
import pandas as pd
import numpy as np

#Leo el dataset p
df_p = pd.read_csv("https://github.com/mdcodigo/coder_ds/raw/main/data-sources/p_data.csv", delimiter=";", index_col="ID")

print(df_p.columns)

#Leo el dataset w
df_w = pd.read_csv("https://github.com/mdcodigo/coder_ds/raw/main/data-sources/w_data.csv", delimiter=";", index_col="ID")

print(df_w.columns)
#df_pw = df_p
#df_pw.join(df_w, lsuffix="_left", rsuffix="_right")

df_pw = pd.merge(df_p,df_w, on=["ID"])

print(df_pw.columns)

#print("Ejecricio Nr2")
#print(pd.read_sql_query("SELECT sea.* FROM NBA_season1718_salary sal INNER JOIN Seasons_Stats sea ON sal.X1 = sea.X1 WHERE sal.season17_18 > 10000000",con).head())

#print("Ejecricio Nr3")
#pd.read_sql_query("SELECT sea.Player, AVG(sea.PTS), AVG(sea.AST), AVG(sea.PF) FROM NBA_season1718_salary sal INNER JOIN Seasons_Stats sea ON sal.X1 = sea.X1 WHERE sal.season17_18 > 10000000 GROUP BY sea.Player",con)

Index(['Age', 'Sex', 'Race', 'Country', 'Education', 'Education-Num',
       'Marital Status', 'Relationship'],
      dtype='object')
Index(['Workclass', 'fnlwgt', 'Capital Gain', 'Capital Loss', 'Hours per week',
       'Target'],
      dtype='object')
Index(['Age', 'Sex', 'Race', 'Country', 'Education', 'Education-Num',
       'Marital Status', 'Relationship', 'Workclass', 'fnlwgt', 'Capital Gain',
       'Capital Loss', 'Hours per week', 'Target'],
      dtype='object')

Ejercicio #1

In [63]:
res1 = df_pw["Target"].isnull()
print("IDs que estan en P pero no es W:")
print(res1[res1 == True])

IDs que estan en P pero no es W:
ID
37078    True
Name: Target, dtype: bool