<a href="https://colab.research.google.com/github/mdcodigo/coder_ds/blob/main/Pandas_Duva_desafio003.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1 Años olimpicos

In [8]:
import numpy as np
import pandas as pd

olympics_df = pd.read_csv(
    "https://github.com/mdcodigo/coder_ds/raw/main/data-sources/Summer-Olympic-medals-1976-to-2008.csv", 
    encoding='latin1') #Sin este parámetro daba error de parseo

olympics_years_series = pd.to_datetime(
                          olympics_df["Year"], 
                          format='%Y')

print(type(olympics_years_series))
print(olympics_years_series)

<class 'pandas.core.series.Series'>
0       1976-01-01
1       1976-01-01
2       1976-01-01
3       1976-01-01
4       1976-01-01
           ...
15428   2008-01-01
15429   2008-01-01
15430   2008-01-01
15431   2008-01-01
15432   2008-01-01
Name: Year, Length: 15433, dtype: datetime64[ns]

2 - Separar nombres y apellidos en dos columnas distintas

In [12]:
import numpy as np
import pandas as pd

olympics_df = pd.read_csv(
    "https://github.com/mdcodigo/coder_ds/raw/main/data-sources/Summer-Olympic-medals-1976-to-2008.csv",
    index_col="Year",
    encoding='latin1') #Sin este parámetro daba error de parseo

olympics_df[["Surname","Name","Middle_Name"]] = olympics_df.Athlete.str.split(",", expand=True)

olympics_df.head(8)

            City     Sport  ...             Name Middle_Name
Year                        ...
1976.0  Montreal  Aquatics  ...          Christa        None
1976.0  Montreal  Aquatics  ...        Aleksandr        None
1976.0  Montreal  Aquatics  ...    Philip George        None
1976.0  Montreal  Aquatics  ...   Giorgio Franco        None
1976.0  Montreal  Aquatics  ...   Deborah Keplar        None
1976.0  Montreal  Aquatics  ...          Gregory        None
1976.0  Montreal  Aquatics  ...            Elena        None
1976.0  Montreal  Aquatics  ...          Cynthia        None

[8 rows x 13 columns]

3 - País que más medallas ganó

In [55]:
import numpy as np
import pandas as pd

olympics_df = pd.read_csv(
    "https://github.com/mdcodigo/coder_ds/raw/main/data-sources/Summer-Olympic-medals-1976-to-2008.csv",
    index_col="Country_Code",
    encoding='latin1') #Sin este parámetro daba error de parseo

olympics_df.groupby(["Country_Code"], as_index=True).count().sort_values(by=["Medal"], ascending=False)["Medal"].head(1)

Country_Code
USA    1992
Name: Medal, dtype: int64

4 - Tabla de Medallas

In [65]:
import numpy as np
import pandas as pd

olympics_df = pd.read_csv(
    "https://github.com/mdcodigo/coder_ds/raw/main/data-sources/Summer-Olympic-medals-1976-to-2008.csv",
    encoding='latin1') #Sin este parámetro daba error de parseo

#Me pareció injusto que sea solo para hombres, asi que lo hago para ambos
olympics_df.groupby(["Year","Gender"], as_index=True).count()["Medal"]

Year    Gender
1976.0  Men        924
        Women      381
1980.0  Men        958
        Women      429
1984.0  Men        973
        Women      486
1988.0  Men       1011
        Women      535
1992.0  Men       1105
        Women      600
1996.0  Men       1082
        Women      777
2000.0  Men       1126
        Women      889
2004.0  Men       1099
        Women      899
2008.0  Men       1110
        Women      932
Name: Medal, dtype: int64